* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #23272A;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 0.5rem;
}

header {
    background-color:#F26400;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F26400;
    height: 3rem;

}

nav {
    background-color: #F26400;
    display: flex;
    
}
.link-container ul {
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
    height: 100%;

}

.login-container {
    color: white;
    padding: 0.5rem;
   
   
}
.img-logo
{
    margin-right: 7rem;
    width: 120px;
}
.orange-price{
    color: #F26400;
}
.delete-price{
text-decoration: line-through;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
  }
   
  .card img {
    width: 100%;
    display: block;
  }
  
  .card-texts-container {
    padding: 0.5rem 1rem;
  }
  
  .card:hover .card-texts-container {
    color: rgb(15, 14, 14);
  }
  
  .discount-container {
    padding: .5rem;
    font-size: .8rem;
    color: white;
    position: relative;
    bottom: 3%;
    left: 0%;
  }
   .dsc-red{
    background-color: rgb(240, 66, 66);
    padding: 0.5rem 1rem;
    
   }
   .dsc-green{
    background-color: rgb(5, 90, 5);
    padding: 0.5rem 1rem;
   }
  
  .discount-container:hover {
    color: aqua
  }
  
  .description-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    color: white;
    display: none;
    
  }
  
  .card:hover .description-container {
    display: flex;
  
  }
  
  .img-container {
    position: relative;
   
  }
  